.body {
	padding-left: 5px;
	padding-right: 5px;
}

.header {
	padding: 5px;
	color: white;
	background-color: #195777;
}

.headerTitle {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.headerLabel {
	font-size: 20px;
}

.homeButton {
	margin-top: 15px;
	float: left;
}

.sectionTitle {
	margin-top: 60px;
	color: #195777;
	font-size: 40px;
	font-weight: bold;
}

.sectionTitleTop {
	margin-top: 40px;
}

.required {
	display: inline-block;
	font-weight: bold;
	color: #dc3545;
	margin: 0;
}

.innerSectTitle {
	margin-top: 60px;
}

.textInline {
	display: inline-block;
}

.popupColorPicker {
	position : absolute;
	display : none;
	margin-left: 10%;
	border-radius: 100px;
	background-color: rgb(25, 87, 119, 0.5);
}

.mainSection, .copyPasteTitle {
	padding-left: 5px;
	padding-right: 5px;
}

.spacedElement {
	margin-top: 5px;
}

.spacedElementLrg {
	margin-top: 15px;
}

.content {
	min-height: calc(100vh - 120px);
}

.footer {
	height: 120px;
	background-color: #195777;
	color: white;
}

.footerText {
	position: relative;
	top: 20px;
}

#btnCopyCode {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 20px;
}

#alertCopied {
	display: inline-block;
	width: 200px;
	height: 38px;
	position: relative;
	left: 5px;
	bottom: 1px;
	text-align: center;
}

#alertCopied p {
	position: relative;
	bottom: 7px;
}

#copyPasteTxt {
	margin: 0;
	padding: 5px;
	background-color: #195777;
	color: white;
	font-family: "courier new";
}